
<header>
  <div class="navbar-fixed-top">
    <div class="jumbotron">
      <div class="text-center">
        <ul>
          <a href="/"><p class="LEND">LENDA hand</p>
          </a>
        </ul>
      </div>
    </div>
  </div>
</header>