
<header>
  <div class="navbar-fixed-top">
    <div class="jumbotron">
      <div class="text-center">
        <ul>
          <a href="/"><p class="LEND">LEND</p><p class="A">A</p><p class="Hand">hand</p>            
          </a>
        </ul>
      </div>
    </div>
  </div>
</header>