<%=render ('/layouts/sidenavbar') %>
<% # Navbar Start %>
<div class="row profile">
  <div class="col-md-2">
    <div class="profile-sidebar">
      <% # User Title %>
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <a href="#">
            User1234
          </a>
        </div>
      </div>      
      <% # Menu %>
      <div class="profile-usermenu">
        <ul class="nav">
          <li>
            <a href="#">
              Human Rights/Advocacy
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              Homeless & Housing
            </a>
          </li>
          <li>
            <a href="#">
              Children & Youth
            </a>
          </li>
          <li>
            <a href="#">
              Environment
            </a>
          </li>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% # End Navbar %>
<div class="row content">
  <div class="col-md-10"></div>
</div>