render ('/layouts/navbar')
<% # Navbar Start %>
<div class="row profile">
  <div class="col-md-2">
    <div class="profile-sidebar">
      <% # User Title %>
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <a href="#">
            User1234
          </a>
        </div>
      </div>
      <% # User Pic %>
      <div class="profile-userpic">
        <a href="#">
          <img class="img-responsive" src="https://files.slack.com/files-tmb/T0351JZQ0-F5HHG3EN4-7f9ab0f32e/seijin_480.png"/>
        </a>
      </div>
      <% # Menu %>
      <div class="profile-usermenu">
        <ul class="nav">
          <li>
            <a href="#">
              Healthcare
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              Homeless/Housing
            </a>
          </li>
          <li>
            <a href="#">
              Children/Youth
            </a>
          </li>
          <li>
            <a href="#">
              Environment
            </a>
          </li>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% # End Navbar %>
<div class="row content">
  <div class="col-md-10"></div>
</div>