<%= render ('/layouts/largenavbar') %>
<br><br><br> <br><br><br> 

<div class="container">        
            <% @opportunities.each do |opportunity| %>
              <div class="col-sm-8 col-sm-offset-2 causebox" style= "border:0px solid #ccc;">
               <%= link_to opportunity.cause %>
              </div> 
               <% break %>       
            <% end %>
        </div>

  <div class="col-sm-12">

      <br><br><br>    
     
        <div class="container">        
            <% @opportunities.each do |opportunity| %>
              <div class="col-sm-8 col-sm-offset-2 causebox" style= "border:10px solid #ccc;background-color: #fcf8e3;">
                
               <%= link_to opportunity.name, opportunity_path(opportunity.id) %>
               <br><br><br>
               <%= opportunity.location%>                           
                 <% opportunity.created_at.strftime("%a, %b %d, %Y @ %l:%M %p %Z") %>
                  
              </div>        
            <% end %>
        </div>
   
  </div>

      