<%= render ('/layouts/largenavbar') %>

<br><br><br>

   
       <div class="row">
           <div class="col-sm-8">
                <h4><%= @opportunity.name %></h4>            
                  
                   
                <a class="btn btn-primary" href="#">Add to favorites</a>
            </div>
        </div>
   
