<%= render ('/layouts/largenavbar') %>

   
  <br><br><br>
       <div class="row">
           <div class="col-sm-8">
                <h4><%= @organization.name %></h4>            
                  
                <%= @organization %>

              
            </div>
        </div>
                   
               
        